In [8]:
import sys
import pandas as pd
import sqlite3
sys.path.append("..")
from source import dbread as db
from source import utils
utils.set_default_path()
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

### Read the data from ./db/future_kbars.
if there is not db file, please ask me by email to get the link

In [9]:
print(f"First day of the database is: {db.get_first_day()}")
print(f"Latest day of the database is: {db.get_latest_day()}")

First day of the database is: 2021-01-04
Latest day of the database is: 2024-10-30

### In the range of data, you can get any date of future data

In [13]:
df = db.get_daily_data("2024-10-25")

print(f"The type of output is: {type(df)}")
print(f"The shape of the output is: {df.shape}")
print(df.head(10))

The type of output is: <class 'pandas.core.frame.DataFrame'>
The shape of the output is: (1138, 8)
                    ts        date     Open     High      Low    Close  Volume      Amount
0  2024-10-25 08:46:00  2024-10-25  23270.0  23306.0  23261.0  23305.0     724  16857488.0
1  2024-10-25 08:47:00  2024-10-25  23305.0  23305.0  23253.0  23277.0     760  17696457.0
2  2024-10-25 08:48:00  2024-10-25  23277.0  23277.0  23256.0  23258.0     519  12074280.0
3  2024-10-25 08:49:00  2024-10-25  23262.0  23264.0  23252.0  23252.0     222   5162958.0
4  2024-10-25 08:50:00  2024-10-25  23253.0  23268.0  23253.0  23263.0      77   1791148.0
5  2024-10-25 08:51:00  2024-10-25  23262.0  23263.0  23256.0  23262.0      84   1953753.0
6  2024-10-25 08:52:00  2024-10-25  23263.0  23267.0  23260.0  23267.0      70   1628432.0
7  2024-10-25 08:53:00  2024-10-25  23268.0  23275.0  23264.0  23269.0     119   2769102.0
8  2024-10-25 08:54:00  2024-10-25  23271.0  23273.0  23258.0  23259.0     112   2605590.0
9  2024-10-25 08:55:00  2024-10-25  23259.0  23271.0  23256.0  23269.0     113   2628595.0

#### The explain of dataframe
- ts : 一分K(每分鐘統計一次)
- data : 每日的期貨資料是從 早上08:45~13:45，晚上15:00~隔日05:00
         舉例來說 10-25 會有 10-26 00:00 ~ 05:00 的資料
- Open : 本分鐘第一筆交易的值
- High : 本分鐘的最高值 
- Low : 本分鐘的最低值
- Close : 本分鐘最後一筆交易的值
- Volume : 本分鐘的交易量 
- Amount : 本分鐘的交易金額 

#### 五筆一分K可以組合成一筆五分K 
常見的分K 
- 5分K
- 10分K
- 30分K
- 60分K

In [ ]:
# 需要跨日的資料則需要range
df = db.get_daily_data_range("2024-10-22", "2024-10-25")
print(f"The shape of the output is: {df.shape}")
print(df.head(10))

The shape of the output is: (4548, 8)
                    ts        date     Open     High      Low    Close  Volume      Amount
0  2024-10-22 08:46:00  2024-10-22  23560.0  23563.0  23512.0  23535.0    1650  38836945.0
1  2024-10-22 08:47:00  2024-10-22  23535.0  23535.0  23517.0  23524.0     451  10609509.0
2  2024-10-22 08:48:00  2024-10-22  23524.0  23552.0  23524.0  23543.0     374   8804479.0
3  2024-10-22 08:49:00  2024-10-22  23543.0  23550.0  23531.0  23532.0     207   4872709.0
4  2024-10-22 08:50:00  2024-10-22  23532.0  23555.0  23530.0  23552.0     298   7017058.0
5  2024-10-22 08:51:00  2024-10-22  23550.0  23555.0  23540.0  23540.0     234   5509745.0
6  2024-10-22 08:52:00  2024-10-22  23539.0  23550.0  23534.0  23546.0     201   4732093.0
7  2024-10-22 08:53:00  2024-10-22  23546.0  23547.0  23530.0  23537.0     154   3624932.0
8  2024-10-22 08:54:00  2024-10-22  23536.0  23539.0  23518.0  23520.0     361   8492877.0
9  2024-10-22 08:55:00  2024-10-22  23519.0  23526.0  23516.0  23520.0     217   5104092.0

In [17]:
# 因為有些日期是假日，所以如果用傳統的方式統計N天會有問題，不足N天的問題
db.get_previous_n_data_range("2024-10-25", 10)
print(f"The shape of the output is: {df.shape}")
print(df.head(10))

The shape of the output is: (4548, 8)
                    ts        date     Open     High      Low    Close  Volume      Amount
0  2024-10-22 08:46:00  2024-10-22  23560.0  23563.0  23512.0  23535.0    1650  38836945.0
1  2024-10-22 08:47:00  2024-10-22  23535.0  23535.0  23517.0  23524.0     451  10609509.0
2  2024-10-22 08:48:00  2024-10-22  23524.0  23552.0  23524.0  23543.0     374   8804479.0
3  2024-10-22 08:49:00  2024-10-22  23543.0  23550.0  23531.0  23532.0     207   4872709.0
4  2024-10-22 08:50:00  2024-10-22  23532.0  23555.0  23530.0  23552.0     298   7017058.0
5  2024-10-22 08:51:00  2024-10-22  23550.0  23555.0  23540.0  23540.0     234   5509745.0
6  2024-10-22 08:52:00  2024-10-22  23539.0  23550.0  23534.0  23546.0     201   4732093.0
7  2024-10-22 08:53:00  2024-10-22  23546.0  23547.0  23530.0  23537.0     154   3624932.0
8  2024-10-22 08:54:00  2024-10-22  23536.0  23539.0  23518.0  23520.0     361   8492877.0
9  2024-10-22 08:55:00  2024-10-22  23519.0  23526.0  23516.0  23520.0     217   5104092.0